
3_external_lib/libconfig4cpp.a
*.hpp
*.ipp
*.html
.metadata/.log
.metadata/.plugins/com.genuitec.eclipse.devstyle/recent.json
.metadata/.plugins/com.genuitec.eclipse.monitor/myeclipse-usage.properties
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.resources/.root/10.tree
.metadata/.plugins/org.eclipse.core.resources/.root/9.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.monitor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.theming.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.make.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
3_external_lib/libconfig4cpp.a
.metadata/.plugins/com.genuitec.eclipse.devstyle/recent.json
*.json
*.json
.metadata/.plugins/com.genuitec.eclipse.devstyle/recent.json
.metadata/.plugins/com.genuitec.eclipse.monitor/myeclipse-usage.properties
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/color-definitions-fix.css
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/colors-org.eclipse.egit.ui-1849137576.css
.metadata/.plugins/com.genuitec.eclipse.ui.common.platform/splash-fix.css
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.resources/.root/9.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.monitor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.theming.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
.metadata/version.ini
*.tree
*.prefs
*.xmi
*.json
*.xml
*.css
3_external_lib/boost_1_69_0.tar.gz
.metadata/.plugins/com.genuitec.eclipse.devstyle/recent.json
.metadata/.plugins/com.genuitec.eclipse.monitor/myeclipse-usage.properties
.metadata/.plugins/org.eclipse.cdt.core/.log
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.monitor.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.theming.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/version.ini
install/sphinxbase-5prealpha.tar.gz
install/sphinxbase-5prealpha.tar.gz
install/sphinxbase-5prealpha/aclocal.m4
install/sphinxbase-5prealpha/AUTHORS
install/sphinxbase-5prealpha/autogen.sh
install/sphinxbase-5prealpha/config.guess
install/sphinxbase-5prealpha/config.sub
install/sphinxbase-5prealpha/configure
install/sphinxbase-5prealpha/configure.ac
install/sphinxbase-5prealpha/depcomp
install/sphinxbase-5prealpha/doc/args2man.pl
install/sphinxbase-5prealpha/doc/doxy2swig.py
install/sphinxbase-5prealpha/doc/doxyfile.in
install/sphinxbase-5prealpha/doc/Makefile.am
install/sphinxbase-5prealpha/doc/Makefile.in
install/sphinxbase-5prealpha/doc/sphinx_cepview.1
install/sphinxbase-5prealpha/doc/sphinx_cepview.1.in
install/sphinxbase-5prealpha/doc/sphinx_cont_seg.1
install/sphinxbase-5prealpha/doc/sphinx_cont_seg.1.in
install/sphinxbase-5prealpha/doc/sphinx_fe.1
install/sphinxbase-5prealpha/doc/sphinx_fe.1.in
install/sphinxbase-5prealpha/doc/sphinx_lm_convert.1
install/sphinxbase-5prealpha/doc/sphinx_lm_eval.1
install/sphinxbase-5prealpha/doc/sphinx_lm_sort.1
install/sphinxbase-5prealpha/doc/sphinx_pitch.1
install/sphinxbase-5prealpha/doc/sphinx_pitch.1.in
install/sphinxbase-5prealpha/include/android/config.h
install/sphinxbase-5prealpha/include/android/sphinx_config.h
install/sphinxbase-5prealpha/include/config.h.in
install/sphinxbase-5prealpha/include/Makefile.am
install/sphinxbase-5prealpha/include/Makefile.in
install/sphinxbase-5prealpha/include/sphinx_config.h
install/sphinxbase-5prealpha/include/sphinx_config.h.in
install/sphinxbase-5prealpha/include/sphinxbase/ad.h
install/sphinxbase-5prealpha/include/sphinxbase/agc.h
install/sphinxbase-5prealpha/include/sphinxbase/bio.h
install/sphinxbase-5prealpha/include/sphinxbase/bitarr.h
install/sphinxbase-5prealpha/include/sphinxbase/bitvec.h
install/sphinxbase-5prealpha/include/sphinxbase/byteorder.h
install/sphinxbase-5prealpha/include/sphinxbase/case.h
install/sphinxbase-5prealpha/include/sphinxbase/ckd_alloc.h
install/sphinxbase-5prealpha/include/sphinxbase/clapack_lite.h
install/sphinxbase-5prealpha/include/sphinxbase/cmd_ln.h
install/sphinxbase-5prealpha/include/sphinxbase/cmn.h
install/sphinxbase-5prealpha/include/sphinxbase/err.h
install/sphinxbase-5prealpha/include/sphinxbase/f2c.h
install/sphinxbase-5prealpha/include/sphinxbase/fe.h
install/sphinxbase-5prealpha/include/sphinxbase/feat.h
install/sphinxbase-5prealpha/include/sphinxbase/filename.h
install/sphinxbase-5prealpha/include/sphinxbase/fixpoint.h
install/sphinxbase-5prealpha/include/sphinxbase/fsg_model.h
install/sphinxbase-5prealpha/include/sphinxbase/genrand.h
install/sphinxbase-5prealpha/include/sphinxbase/glist.h
install/sphinxbase-5prealpha/include/sphinxbase/hash_table.h
install/sphinxbase-5prealpha/include/sphinxbase/heap.h
install/sphinxbase-5prealpha/include/sphinxbase/jsgf.h
install/sphinxbase-5prealpha/include/sphinxbase/listelem_alloc.h
install/sphinxbase-5prealpha/include/sphinxbase/logmath.h
install/sphinxbase-5prealpha/include/sphinxbase/Makefile.am
install/sphinxbase-5prealpha/include/sphinxbase/Makefile.in
install/sphinxbase-5prealpha/include/sphinxbase/matrix.h
install/sphinxbase-5prealpha/include/sphinxbase/mmio.h
install/sphinxbase-5prealpha/include/sphinxbase/ngram_model.h
install/sphinxbase-5prealpha/include/sphinxbase/pio.h
install/sphinxbase-5prealpha/include/sphinxbase/prim_type.h
install/sphinxbase-5prealpha/include/sphinxbase/priority_queue.h
install/sphinxbase-5prealpha/include/sphinxbase/profile.h
install/sphinxbase-5prealpha/include/sphinxbase/sbthread.h
install/sphinxbase-5prealpha/include/sphinxbase/sphinxbase_export.h
install/sphinxbase-5prealpha/include/sphinxbase/strfuncs.h
install/sphinxbase-5prealpha/include/sphinxbase/yin.h
install/sphinxbase-5prealpha/include/win32/config.h
install/sphinxbase-5prealpha/include/win32/sphinx_config.h
install/sphinxbase-5prealpha/include/wince/config.h
install/sphinxbase-5prealpha/include/wince/sphinx_config.h
install/sphinxbase-5prealpha/install-sh
install/sphinxbase-5prealpha/LICENSE
install/sphinxbase-5prealpha/ltmain.sh
install/sphinxbase-5prealpha/m4/ax_pkg_swig.m4
install/sphinxbase-5prealpha/m4/ax_python_devel.m4
install/sphinxbase-5prealpha/m4/libtool.m4
install/sphinxbase-5prealpha/m4/ltoptions.m4
install/sphinxbase-5prealpha/m4/ltsugar.m4
install/sphinxbase-5prealpha/m4/ltversion.m4
install/sphinxbase-5prealpha/m4/lt~obsolete.m4
install/sphinxbase-5prealpha/m4/pkg.m4
install/sphinxbase-5prealpha/Makefile.am
install/sphinxbase-5prealpha/Makefile.in
install/sphinxbase-5prealpha/missing
install/sphinxbase-5prealpha/NEWS
install/sphinxbase-5prealpha/py-compile
install/sphinxbase-5prealpha/README
install/sphinxbase-5prealpha/sphinxbase.pc.in
install/sphinxbase-5prealpha/sphinxbase.sln
install/sphinxbase-5prealpha/src/libsphinxad/ad_alsa.c
install/sphinxbase-5prealpha/src/libsphinxad/ad_base.c
install/sphinxbase-5prealpha/src/libsphinxad/ad_openal.c
install/sphinxbase-5prealpha/src/libsphinxad/ad_oss.c
install/sphinxbase-5prealpha/src/libsphinxad/ad_pulse.c
install/sphinxbase-5prealpha/src/libsphinxad/ad_win32.c
install/sphinxbase-5prealpha/src/libsphinxad/Makefile.am
install/sphinxbase-5prealpha/src/libsphinxad/Makefile.in
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_interface.c
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_internal.h
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_noise.c
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_noise.h
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_prespch_buf.c
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_prespch_buf.h
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_sigproc.c
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_type.h
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_warp.c
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_warp.h
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_warp_affine.c
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_warp_affine.h
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_warp_inverse_linear.c
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_warp_inverse_linear.h
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_warp_piecewise_linear.c
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fe_warp_piecewise_linear.h
install/sphinxbase-5prealpha/src/libsphinxbase/fe/fixlog.c
install/sphinxbase-5prealpha/src/libsphinxbase/fe/Makefile.am
install/sphinxbase-5prealpha/src/libsphinxbase/fe/Makefile.in
install/sphinxbase-5prealpha/src/libsphinxbase/fe/yin.c
install/sphinxbase-5prealpha/src/libsphinxbase/feat/agc.c
install/sphinxbase-5prealpha/src/libsphinxbase/feat/cmn.c
install/sphinxbase-5prealpha/src/libsphinxbase/feat/cmn_live.c
install/sphinxbase-5prealpha/src/libsphinxbase/feat/feat.c
install/sphinxbase-5prealpha/src/libsphinxbase/feat/lda.c
install/sphinxbase-5prealpha/src/libsphinxbase/feat/Makefile.am
install/sphinxbase-5prealpha/src/libsphinxbase/feat/Makefile.in
install/sphinxbase-5prealpha/src/libsphinxbase/lm/_jsgf_scanner.l
install/sphinxbase-5prealpha/src/libsphinxbase/lm/fsg_model.c
install/sphinxbase-5prealpha/src/libsphinxbase/lm/jsgf.c
install/sphinxbase-5prealpha/src/libsphinxbase/lm/jsgf_internal.h
install/sphinxbase-5prealpha/src/libsphinxbase/lm/jsgf_parser.c
install/sphinxbase-5prealpha/src/libsphinxbase/lm/jsgf_parser.h
install/sphinxbase-5prealpha/src/libsphinxbase/lm/jsgf_parser.y
install/sphinxbase-5prealpha/src/libsphinxbase/lm/jsgf_scanner.c
install/sphinxbase-5prealpha/src/libsphinxbase/lm/jsgf_scanner.h
install/sphinxbase-5prealpha/src/libsphinxbase/lm/lm_trie.c
install/sphinxbase-5prealpha/src/libsphinxbase/lm/lm_trie.h
install/sphinxbase-5prealpha/src/libsphinxbase/lm/lm_trie_quant.c
install/sphinxbase-5prealpha/src/libsphinxbase/lm/lm_trie_quant.h
install/sphinxbase-5prealpha/src/libsphinxbase/lm/Makefile.am
install/sphinxbase-5prealpha/src/libsphinxbase/lm/Makefile.in
install/sphinxbase-5prealpha/src/libsphinxbase/lm/ngram_model.c
install/sphinxbase-5prealpha/src/libsphinxbase/lm/ngram_model_internal.h
install/sphinxbase-5prealpha/src/libsphinxbase/lm/ngram_model_set.c
install/sphinxbase-5prealpha/src/libsphinxbase/lm/ngram_model_set.h
install/sphinxbase-5prealpha/src/libsphinxbase/lm/ngram_model_trie.c
install/sphinxbase-5prealpha/src/libsphinxbase/lm/ngram_model_trie.h
install/sphinxbase-5prealpha/src/libsphinxbase/lm/ngrams_raw.c
install/sphinxbase-5prealpha/src/libsphinxbase/lm/ngrams_raw.h
install/sphinxbase-5prealpha/src/libsphinxbase/Makefile.am
install/sphinxbase-5prealpha/src/libsphinxbase/Makefile.in
install/sphinxbase-5prealpha/src/libsphinxbase/util/bio.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/bitarr.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/bitvec.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/blas_lite.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/case.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/ckd_alloc.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/cmd_ln.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/dtoa.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/err.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/f2c_lite.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/filename.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/genrand.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/glist.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/hash_table.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/heap.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/listelem_alloc.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/logmath.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/Makefile.am
install/sphinxbase-5prealpha/src/libsphinxbase/util/Makefile.in
install/sphinxbase-5prealpha/src/libsphinxbase/util/matrix.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/mmio.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/pio.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/priority_queue.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/profile.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/sbthread.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/slamch.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/slapack_lite.c
install/sphinxbase-5prealpha/src/libsphinxbase/util/strfuncs.c
install/sphinxbase-5prealpha/src/Makefile.am
install/sphinxbase-5prealpha/src/Makefile.in
install/sphinxbase-5prealpha/src/sphinx_adtools/cont_seg.c
install/sphinxbase-5prealpha/src/sphinx_adtools/Makefile.am
install/sphinxbase-5prealpha/src/sphinx_adtools/Makefile.in
install/sphinxbase-5prealpha/src/sphinx_adtools/sphinx_pitch.c
install/sphinxbase-5prealpha/src/sphinx_cepview/main_cepview.c
install/sphinxbase-5prealpha/src/sphinx_cepview/Makefile.am
install/sphinxbase-5prealpha/src/sphinx_cepview/Makefile.in
install/sphinxbase-5prealpha/src/sphinx_fe/cmd_ln_defn.h
install/sphinxbase-5prealpha/src/sphinx_fe/Makefile.am
install/sphinxbase-5prealpha/src/sphinx_fe/Makefile.in
install/sphinxbase-5prealpha/src/sphinx_fe/sphinx_fe.c
install/sphinxbase-5prealpha/src/sphinx_fe/sphinx_wave2feat.h
install/sphinxbase-5prealpha/src/sphinx_jsgf2fsg/fsg2dot.pl
install/sphinxbase-5prealpha/src/sphinx_jsgf2fsg/main.c
install/sphinxbase-5prealpha/src/sphinx_jsgf2fsg/Makefile.am
install/sphinxbase-5prealpha/src/sphinx_jsgf2fsg/Makefile.in
install/sphinxbase-5prealpha/src/sphinx_lmtools/Makefile.am
install/sphinxbase-5prealpha/src/sphinx_lmtools/Makefile.in
install/sphinxbase-5prealpha/src/sphinx_lmtools/sphinx_lm_convert.c
install/sphinxbase-5prealpha/src/sphinx_lmtools/sphinx_lm_eval.c
install/sphinxbase-5prealpha/swig/cmd_ln.i
install/sphinxbase-5prealpha/swig/fe.i
install/sphinxbase-5prealpha/swig/feat.i
install/sphinxbase-5prealpha/swig/fsg_model.i
install/sphinxbase-5prealpha/swig/iterators.i
install/sphinxbase-5prealpha/swig/jsgf.i
install/sphinxbase-5prealpha/swig/logmath.i
install/sphinxbase-5prealpha/swig/Makefile.am
install/sphinxbase-5prealpha/swig/Makefile.in
install/sphinxbase-5prealpha/swig/ngram_model.i
install/sphinxbase-5prealpha/swig/python/__init__.py
install/sphinxbase-5prealpha/swig/python/Makefile.am
install/sphinxbase-5prealpha/swig/python/Makefile.in
install/sphinxbase-5prealpha/swig/sphinxbase.i
install/sphinxbase-5prealpha/swig/typemaps.i
install/sphinxbase-5prealpha/test-driver
install/sphinxbase-5prealpha/test/compare_table.pl
install/sphinxbase-5prealpha/test/Makefile.am
install/sphinxbase-5prealpha/test/Makefile.in
install/sphinxbase-5prealpha/test/regression/chan3-dither.cepview
install/sphinxbase-5prealpha/test/regression/chan3-logspec.cepview
install/sphinxbase-5prealpha/test/regression/chan3-smoothspec.cepview
install/sphinxbase-5prealpha/test/regression/chan3.2chan.wav
install/sphinxbase-5prealpha/test/regression/chan3.cepview
install/sphinxbase-5prealpha/test/regression/chan3.ctl
install/sphinxbase-5prealpha/test/regression/chan3.f0
install/sphinxbase-5prealpha/test/regression/chan3.logspec
install/sphinxbase-5prealpha/test/regression/chan3.mfc
install/sphinxbase-5prealpha/test/regression/chan3.raw
install/sphinxbase-5prealpha/test/regression/chan3.sph
install/sphinxbase-5prealpha/test/regression/chan3.wav
install/sphinxbase-5prealpha/test/regression/Makefile.am
install/sphinxbase-5prealpha/test/regression/Makefile.in
install/sphinxbase-5prealpha/test/regression/polite.gram
install/sphinxbase-5prealpha/test/regression/test-cepview.sh
install/sphinxbase-5prealpha/test/regression/test-sphinx_fe-ctl.sh
install/sphinxbase-5prealpha/test/regression/test-sphinx_fe-dct.sh
install/sphinxbase-5prealpha/test/regression/test-sphinx_fe-dither-seed.sh
install/sphinxbase-5prealpha/test/regression/test-sphinx_fe-logspec.sh
install/sphinxbase-5prealpha/test/regression/test-sphinx_fe-logspec2cep.sh
install/sphinxbase-5prealpha/test/regression/test-sphinx_fe-smoothspec.sh
install/sphinxbase-5prealpha/test/regression/test-sphinx_fe.sh
install/sphinxbase-5prealpha/test/regression/test-sphinx_jsgf2fsg.sh
install/sphinxbase-5prealpha/test/regression/test-sphinx_pitch.sh
install/sphinxbase-5prealpha/test/regression/test.command.fsg
install/sphinxbase-5prealpha/test/regression/test.gram
install/sphinxbase-5prealpha/test/regression/test.kleene.fsg
install/sphinxbase-5prealpha/test/regression/test.nestedRightRecursion.fsg
install/sphinxbase-5prealpha/test/regression/test.nulltest.fsg
install/sphinxbase-5prealpha/test/regression/test.rightRecursion.fsg
install/sphinxbase-5prealpha/test/regression/testfuncs.sh.in
install/sphinxbase-5prealpha/test/unit/Makefile.am
install/sphinxbase-5prealpha/test/unit/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_alloc/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_alloc/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_alloc/test_ckd_alloc.c
install/sphinxbase-5prealpha/test/unit/test_alloc/test_ckd_alloc_abort.c
install/sphinxbase-5prealpha/test/unit/test_alloc/test_ckd_alloc_abort.sh
install/sphinxbase-5prealpha/test/unit/test_alloc/test_ckd_alloc_catch.c
install/sphinxbase-5prealpha/test/unit/test_alloc/test_ckd_alloc_fail.c
install/sphinxbase-5prealpha/test/unit/test_alloc/test_ckd_alloc_fail.sh
install/sphinxbase-5prealpha/test/unit/test_alloc/test_listelem_alloc.c
install/sphinxbase-5prealpha/test/unit/test_alloc/test_macros.h
install/sphinxbase-5prealpha/test/unit/test_bitvec/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_bitvec/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_bitvec/test_bitvec.c
install/sphinxbase-5prealpha/test/unit/test_bitvec/test_macros.h
install/sphinxbase-5prealpha/test/unit/test_case/_lcase1.test
install/sphinxbase-5prealpha/test/unit/test_case/_lcase2.test
install/sphinxbase-5prealpha/test/unit/test_case/_lcase3.test
install/sphinxbase-5prealpha/test/unit/test_case/_strcmp1.test
install/sphinxbase-5prealpha/test/unit/test_case/_strcmp2.test
install/sphinxbase-5prealpha/test/unit/test_case/_strcmp3.test
install/sphinxbase-5prealpha/test/unit/test_case/_ucase1.test
install/sphinxbase-5prealpha/test/unit/test_case/_ucase2.test
install/sphinxbase-5prealpha/test/unit/test_case/_ucase3.test
install/sphinxbase-5prealpha/test/unit/test_case/chgCase.c
install/sphinxbase-5prealpha/test/unit/test_case/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_case/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_cmdln/_test_parse_badargs.res
install/sphinxbase-5prealpha/test/unit/test_cmdln/_test_parse_badargs.test
install/sphinxbase-5prealpha/test/unit/test_cmdln/_test_parse_defaults.res
install/sphinxbase-5prealpha/test/unit/test_cmdln/_test_parse_defaults.test
install/sphinxbase-5prealpha/test/unit/test_cmdln/_test_parse_defaults_r.res
install/sphinxbase-5prealpha/test/unit/test_cmdln/_test_parse_defaults_r.test
install/sphinxbase-5prealpha/test/unit/test_cmdln/_test_parse_goodargs.res
install/sphinxbase-5prealpha/test/unit/test_cmdln/_test_parse_goodargs.test
install/sphinxbase-5prealpha/test/unit/test_cmdln/_test_parse_multiple.res
install/sphinxbase-5prealpha/test/unit/test_cmdln/_test_parse_multiple.test
install/sphinxbase-5prealpha/test/unit/test_cmdln/cmdln_parse.c
install/sphinxbase-5prealpha/test/unit/test_cmdln/cmdln_parse_multiple.c
install/sphinxbase-5prealpha/test/unit/test_cmdln/cmdln_parse_r.c
install/sphinxbase-5prealpha/test/unit/test_cmdln/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_cmdln/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_fe/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_fe/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_fe/test_fe.c
install/sphinxbase-5prealpha/test/unit/test_fe/test_macros.h
install/sphinxbase-5prealpha/test/unit/test_fe/test_pitch.c
install/sphinxbase-5prealpha/test/unit/test_feat/_test_feat.res
install/sphinxbase-5prealpha/test/unit/test_feat/_test_feat.test
install/sphinxbase-5prealpha/test/unit/test_feat/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_feat/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_feat/test_feat.c
install/sphinxbase-5prealpha/test/unit/test_feat/test_feat_fe.c
install/sphinxbase-5prealpha/test/unit/test_feat/test_feat_live.c
install/sphinxbase-5prealpha/test/unit/test_feat/test_macros.h
install/sphinxbase-5prealpha/test/unit/test_feat/test_subvq.c
install/sphinxbase-5prealpha/test/unit/test_fsg/goforward.fsg
install/sphinxbase-5prealpha/test/unit/test_fsg/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_fsg/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_fsg/polite.gram
install/sphinxbase-5prealpha/test/unit/test_fsg/public.gram
install/sphinxbase-5prealpha/test/unit/test_fsg/test_fsg_jsgf.c
install/sphinxbase-5prealpha/test/unit/test_fsg/test_fsg_read.c
install/sphinxbase-5prealpha/test/unit/test_fsg/test_fsg_write_fsm.c
install/sphinxbase-5prealpha/test/unit/test_fsg/test_macros.h
install/sphinxbase-5prealpha/test/unit/test_hash/_hash_delete1.res
install/sphinxbase-5prealpha/test/unit/test_hash/_hash_delete1.test
install/sphinxbase-5prealpha/test/unit/test_hash/_hash_delete2.res
install/sphinxbase-5prealpha/test/unit/test_hash/_hash_delete2.test
install/sphinxbase-5prealpha/test/unit/test_hash/_hash_delete3.res
install/sphinxbase-5prealpha/test/unit/test_hash/_hash_delete3.test
install/sphinxbase-5prealpha/test/unit/test_hash/_hash_delete4.res
install/sphinxbase-5prealpha/test/unit/test_hash/_hash_delete4.test
install/sphinxbase-5prealpha/test/unit/test_hash/_hash_delete5.res
install/sphinxbase-5prealpha/test/unit/test_hash/_hash_delete5.test
install/sphinxbase-5prealpha/test/unit/test_hash/deletehash.c
install/sphinxbase-5prealpha/test/unit/test_hash/display.res
install/sphinxbase-5prealpha/test/unit/test_hash/displayhash.c
install/sphinxbase-5prealpha/test/unit/test_hash/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_hash/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_hash/test_hash_iter.c
install/sphinxbase-5prealpha/test/unit/test_hash/test_macros.h
install/sphinxbase-5prealpha/test/unit/test_lineiter/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_lineiter/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_lineiter/test.txt
install/sphinxbase-5prealpha/test/unit/test_lineiter/test_lineiter.c
install/sphinxbase-5prealpha/test/unit/test_lineiter/test_macros.h
install/sphinxbase-5prealpha/test/unit/test_logmath/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_logmath/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_logmath/test_log_int16.c
install/sphinxbase-5prealpha/test/unit/test_logmath/test_log_int8.c
install/sphinxbase-5prealpha/test/unit/test_logmath/test_log_shifted.c
install/sphinxbase-5prealpha/test/unit/test_logmath/test_macros.h
install/sphinxbase-5prealpha/test/unit/test_matrix/_test_determinant.res
install/sphinxbase-5prealpha/test/unit/test_matrix/_test_determinant.test
install/sphinxbase-5prealpha/test/unit/test_matrix/_test_invert.res
install/sphinxbase-5prealpha/test/unit/test_matrix/_test_invert.test
install/sphinxbase-5prealpha/test/unit/test_matrix/_test_solve.res
install/sphinxbase-5prealpha/test/unit/test_matrix/_test_solve.test
install/sphinxbase-5prealpha/test/unit/test_matrix/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_matrix/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_matrix/test_determinant.c
install/sphinxbase-5prealpha/test/unit/test_matrix/test_invert.c
install/sphinxbase-5prealpha/test/unit/test_matrix/test_solve.c
install/sphinxbase-5prealpha/test/unit/test_ngram/100.lm.bin
install/sphinxbase-5prealpha/test/unit/test_ngram/100.lm.bz2
install/sphinxbase-5prealpha/test/unit/test_ngram/100.lm.dmp
install/sphinxbase-5prealpha/test/unit/test_ngram/100.lm.gz
install/sphinxbase-5prealpha/test/unit/test_ngram/100.lmctl
install/sphinxbase-5prealpha/test/unit/test_ngram/100.probdef
install/sphinxbase-5prealpha/test/unit/test_ngram/102.lm.dmp
install/sphinxbase-5prealpha/test/unit/test_ngram/102.lm.gz
install/sphinxbase-5prealpha/test/unit/test_ngram/104.lm.gz
install/sphinxbase-5prealpha/test/unit/test_ngram/105.lm.gz
install/sphinxbase-5prealpha/test/unit/test_ngram/106.lm.gz
install/sphinxbase-5prealpha/test/unit/test_ngram/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_ngram/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_ngram/test_lm_add.c
install/sphinxbase-5prealpha/test/unit/test_ngram/test_lm_casefold.c
install/sphinxbase-5prealpha/test/unit/test_ngram/test_lm_class.c
install/sphinxbase-5prealpha/test/unit/test_ngram/test_lm_read.c
install/sphinxbase-5prealpha/test/unit/test_ngram/test_lm_score.c
install/sphinxbase-5prealpha/test/unit/test_ngram/test_lm_set.c
install/sphinxbase-5prealpha/test/unit/test_ngram/test_lm_write.c
install/sphinxbase-5prealpha/test/unit/test_ngram/test_macros.h
install/sphinxbase-5prealpha/test/unit/test_ngram/turtle.lm
install/sphinxbase-5prealpha/test/unit/test_ngram/turtle.lm.dmp
install/sphinxbase-5prealpha/test/unit/test_ngram/turtle.ug.lm
install/sphinxbase-5prealpha/test/unit/test_ngram/turtle.ug.lm.dmp
install/sphinxbase-5prealpha/test/unit/test_string/_fread_line.test
install/sphinxbase-5prealpha/test/unit/test_string/_fread_line.txt
install/sphinxbase-5prealpha/test/unit/test_string/_nextword.test
install/sphinxbase-5prealpha/test/unit/test_string/_str2words.test
install/sphinxbase-5prealpha/test/unit/test_string/_string_join.test
install/sphinxbase-5prealpha/test/unit/test_string/_string_trim.test
install/sphinxbase-5prealpha/test/unit/test_string/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_string/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_string/strtest.c
install/sphinxbase-5prealpha/test/unit/test_string/test_atof.c
install/sphinxbase-5prealpha/test/unit/test_thread/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_thread/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_thread/test_event.c
install/sphinxbase-5prealpha/test/unit/test_thread/test_macros.h
install/sphinxbase-5prealpha/test/unit/test_thread/test_msgq.c
install/sphinxbase-5prealpha/test/unit/test_thread/test_thread.c
install/sphinxbase-5prealpha/test/unit/test_util/Makefile.am
install/sphinxbase-5prealpha/test/unit/test_util/Makefile.in
install/sphinxbase-5prealpha/test/unit/test_util/test_bit_encode.c
install/sphinxbase-5prealpha/test/unit/test_util/test_bitarr.c
install/sphinxbase-5prealpha/test/unit/test_util/test_build_directory.c
install/sphinxbase-5prealpha/test/unit/test_util/test_filename.c
install/sphinxbase-5prealpha/test/unit/test_util/test_fopen.c
install/sphinxbase-5prealpha/test/unit/test_util/test_heap.c
install/sphinxbase-5prealpha/test/unit/test_util/test_macros.h
install/sphinxbase-5prealpha/test/unit/test_util/test_readfile.c
install/sphinxbase-5prealpha/test/unit/testfuncs.sh.in
install/sphinxbase-5prealpha/win32/sphinx_cepview/sphinx_cepview.vcxproj
install/sphinxbase-5prealpha/win32/sphinx_cepview/sphinx_cepview.vcxproj.filters
install/sphinxbase-5prealpha/win32/sphinx_fe/sphinx_fe.vcxproj
install/sphinxbase-5prealpha/win32/sphinx_fe/sphinx_fe.vcxproj.filters
install/sphinxbase-5prealpha/win32/sphinx_jsgf2fsg/sphinx_jsgf2fsg.vcxproj
install/sphinxbase-5prealpha/win32/sphinx_jsgf2fsg/sphinx_jsgf2fsg.vcxproj.filters
install/sphinxbase-5prealpha/win32/sphinx_lm_convert/sphinx_lm_convert.vcxproj
install/sphinxbase-5prealpha/win32/sphinx_lm_convert/sphinx_lm_convert.vcxproj.filters
install/sphinxbase-5prealpha/win32/sphinx_pitch/sphinx_pitch.vcxproj
install/sphinxbase-5prealpha/win32/sphinx_pitch/sphinx_pitch.vcxproj.filters
install/sphinxbase-5prealpha/win32/sphinx_seg/sphinx_seg.vcxproj
install/sphinxbase-5prealpha/win32/sphinx_seg/sphinx_seg.vcxproj.filters
install/sphinxbase-5prealpha/win32/sphinxbase/sphinxbase.vcxproj
install/sphinxbase-5prealpha/win32/sphinxbase/sphinxbase.vcxproj.filters
install/sphinxbase-5prealpha/ylwrap
install/pocketsphinx-5prealpha.tar.gz
install/sphinxbase-5prealpha.tar.gz
