HaptiComm {
	waveform {
		freqRefresh = "10000"; #Hz 20 000 a tester
		pathWAV = "libHaptiComm/4_configuration/wav/alphabet/";
    
		uid-motion {
			id   = "silence";
			name = "silence motion";
			wav  = pathWAV + "silence.wav";
		}
	}#End-Waveform
    
    
	alphabet {
		uid-symbol {
			id = "a";
			motion = "silence";
			actuatorArrangement = ["leftFF"];
		}
		uid-symbol {
			id = "b";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftMF"];
		}
		uid-symbol {
			id = "c";
			motion = "silence";
			actuatorArrangement = ["leftFF", "rightFF"];
		}
		uid-symbol {
			id = "d";
			motion = "silence";
			actuatorArrangement = ["leftFF", "rightFF", "rightMF"];
		}
		uid-symbol {
			id = "e";
			motion = "silence";
			actuatorArrangement = ["leftFF", "rightMF"];
		}
		uid-symbol {
			id = "f";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftMF", "rightFF"];
		}
		uid-symbol {
			id = "g";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftMF", "rightFF", "rightMF"];
		}
		uid-symbol {
			id = "h";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftMF", "rightMF"];
		}
		uid-symbol {
			id = "i";
			motion = "silence";
			actuatorArrangement = ["leftMF", "rightFF"];
		}
		uid-symbol {
			id = "j";
			motion = "silence";
			actuatorArrangement = ["leftMF", "rightFF", "rightMF"];
		}
		uid-symbol {
			id = "k";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftRF"];
		}
		uid-symbol {
			id = "l";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftMF", "leftRF"];
		}
		uid-symbol {
			id = "m";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftRF", "rightFF"];
		}
		uid-symbol {
			id = "n";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftRF", "rightFF", "rightMF"];
		}
		uid-symbol {
			id = "o";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftRF", "rightMF"];
		}
		uid-symbol {
			id = "p";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftMF", "leftRF", "rightFF"];
		}
		uid-symbol {
			id = "q";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftMF", "leftRF", "rightFF", "rightMF"];
		}
		uid-symbol {
			id = "r";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftMF", "leftRF", "rightMF"];
		}
		uid-symbol {
			id = "s";
			motion = "silence";
			actuatorArrangement = ["leftMF", "leftRF", "rightFF"];
		}
		uid-symbol {
			id = "t";
			motion = "silence";
			actuatorArrangement = ["leftMF", "leftRF", "rightFF", "rightMF"];
		}
		uid-symbol {
			id = "u";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftRF", "rightRF"];
		}
		uid-symbol {
			id = "v";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftMF", "leftRF", "rightRF"];
		}
		uid-symbol {
			id = "w";
			motion = "silence";
			actuatorArrangement = ["leftMF", "rightFF", "rightMF", "rightRF"];
		}
		uid-symbol {
			id = "x";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftRF", "rightFF", "rightRF"];
		}
		uid-symbol {
			id = "y";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftRF", "rightFF", "rightMF", "rightRF"];
		}
		uid-symbol {
			id = "z";
			motion = "silence";
			actuatorArrangement = ["leftFF", "leftRF", "rightMF", "rightRF"];
		}
        
        uid-symbol {
			id = " ";
			motion = "silence";
			actuatorArrangement = ["leftFF"];
		}
	}#End-Alphabet
    
device {
	
	ad5383 {
		channelMinValue = "0";#Numerical-AD5383 Value
		channelMaxValue = "4095";#Numerical-AD5383 Value
		nbChannel = "32";#Integer
	}
	
	actuators {
		nbActuator = "24";#Integer
		actuatorMinValue = "0";
		actuatorMaxValue = "4095";

		actuatorDefaults {
			name="";#String
			id = "";#String
			dacChannel = "-1";#Channel-AD5383 number according to ad5383.nbChannel
			windingDirection = "anticlockwise";#anticlockwise or clockwise
			actionValues {
				neutral = "2048";#Numerical-AD5383 Value
				max = "4095";#Numerical-AD5383 Value
				min = "0";#Numerical-AD5383 Value
				up = "2700";#Numerical-AD5383 Value
			}
		}
		uid-actuator {@copyFrom "HaptiComm.device.actuators.actuatorDefaults";
			windingDirection = "clockwise";# anticlockwise by default
			id = "leftRF";
			name = "left hand ringfinger fingertip";
			dacChannel = "18";
		}
		uid-actuator {@copyFrom "HaptiComm.device.actuators.actuatorDefaults";
			id = "leftMF";
			name = "left hand middlefinger fingertip";
			dacChannel = "27";
		}
		uid-actuator {@copyFrom "HaptiComm.device.actuators.actuatorDefaults";
			windingDirection = "clockwise";# anticlockwise by default
            id = "leftFF";
			name = "left hand forefinger fingertip";
			dacChannel = "22";
		}
		uid-actuator {@copyFrom "HaptiComm.device.actuators.actuatorDefaults";
			windingDirection = "clockwise";# anticlockwise by default
			id = "rightFF";
			name = "right hand forefinger fingertip";
			dacChannel = "23";   
			actionValues.up = "2500";
		}
		uid-actuator {@copyFrom "HaptiComm.device.actuators.actuatorDefaults";
			#windingDirection = "clockwise";# anticlockwise by default
			id = "rightMF";
			name = "right hand middlefinger fingertip";
			dacChannel = "24";   
			actionValues.up = "2600";
		}
		uid-actuator {@copyFrom "HaptiComm.device.actuators.actuatorDefaults";
			windingDirection = "clockwise";# anticlockwise by default
			id = "rightRF";
			name = "right hand ringfinger fingertip";
			dacChannel = "25";   
			actionValues.up = "2500";
		}
	}
}#End-Device

}#End-HaptiComm
